@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.content {
    background: #000000;
    padding: 60px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .search_section {
    display: flex;
    gap: 40px;
}

.content .search_section input {
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 8px 10px;
}

.temp_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .search_section buttom {
    border: none;
    outline: none;
}

.img-prev {
    display: flex;
    align-items:  center;
    gap: 20px;
}